*{
    margin: 0;
}
.boardpage{
    width:200px;
    height:80px;
    border: 1px solid yellow;
    position:relative;
    left:80%;
    top:30px;

}
.tab{
    position:absolute;
    top:60%;
    width:600px;
    height:90%;
    border: 1px solid #ffff80;
    left:50%;
    transform:translate(-50%)
}

.tab1{
background-color: white;
border: 1px solid black;
width: 70px;
height: 30px;
margin-right:10px;
position:absolute;
top:-12px;
left:-1px;
}
.tab2{
    background-color: white;
    border: 1px solid black;
    width: 60px;
    height: 40px;
    position:absolute;
top:-12px;
left:10%;
    }