* {
    margin: 0;
    padding:0;
    box-sizing:border-box;}
body{
    background:rgba(254, 255, 239, 1)
}

.center{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
a:link{
    text-decoration: none;
    color:black;
}
li{
    list-style: none; /* 点を消す */
    padding: 0; /* パディングを削除 */
}
/*見出し*/
h1.title{
    color: rgba(48, 133, 195, 1);
    text-align: center;
    top: 100;
    margin-top: 30;
    font-size: 50px;

}
/*日付部分*/
.date{

    font-weight: bold;
     padding-left: 417px;
     font-size: 20px;
}

/* 板書 */
.board{
    width:45%;
    height:80%;
    background-color: white;
    border:1px solid rgba(48, 133, 195, 1);


    margin-top:0%;
    margin-left: 50%;
    transform: translate(-50%);
    padding-bottom: 50%;

    justify-content: center;
    align-items: center;

}
.text{
    width:99%;
    height:99%;
    border: none;
    resize: none;
    outline: none;
}


/* 上 */
.boardcomit{
    background-color: white;
    position:absolute;
    width:15%;
    height:10%;
    border:1px solid rgba(48, 133, 195, 1);
    margin:1%;
    top:2%;
    left:65%;
}
.pagechange{
    background-color: white;
    position:absolute;
    width:7%;
    height:10%;
    border:1px solid rgba(48, 133, 195, 1);
    top:3%;
    left:85%;
}

/*戻るボタン*/
.btn{
    position: absolute;
    bottom: -100;
    left:45%;


}

.backbtn{
    background: lightblue;
    color: #fff;
    width:150px;
    height: 70px;
    border: 0;
    font-size: 1.3rem;
    border-radius: 5px;
    font-weight: 900;
    z-index:1;

}

.backbtn:hover {
    background: lightcoral;
    cursor: pointer;

    }

.pagechange {
  display: inline-block;           /* 改行なしのブロック要素 */
  position: relative;              /* 相対位置指定 */
  width: 200px;                    /* 横幅 */
  height: 60px;                    /* 高さ */
  text-align: center;              /* 水平方向は中央揃え */
  line-height: 56px;               /* 行の高さ */
  left:80%;
  top:10px;
}
.pagechange span {
  display: block;                  /* ブロック要素 */
  position: absolute;              /* 親要素の左上を基準位置 */
  width: 100%;                     /* 横幅 */
  height: 100%;                    /* 高さ */
  border: 2px solid rgba(48, 133, 195, 1);          /* 罫線 */
  transform-style: preserve-3d;    /* 重なりを3Dで表示 */
  transition: 0.5s;   /* 変化時間 */
}
.pagechange span:nth-child(1) {
  background-color: #f4e869;   /* 板書ボタンの色 */
  color: rgba(48, 133, 195, 1);          /* 板書の文字の色 */
  font-weight: bold;
  font-size: 20px;
  transform: rotateX(0deg);        /* 横軸の回転なし */
  transform-origin: 0 50%  -30px;  /* transformの起点 */
}
.pagechange span:nth-child(2) {
  background-color: rgba(48, 133, 195, 1);   /* ページへボタンの色 */
  color: #f4e869;          /* ページへの文字の色 */
  font-weight: bold;
  font-size: 20px;
  transform: rotateX(90deg);       /* 横軸で90度回転 */
  transform-origin: 0 50%  -30px;  /* transformの起点 */
}
.pagechange:hover span:nth-child(1) {
  transform: rotateX(-90deg);      /* 横軸で前方に90度回転 */
}
.pagechange:hover span:nth-child(2) {
  transform: rotateX(0deg);        /* 横軸の回転なし */
}



